body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lavender;
  margin: 20px;
}

table {
  border-style: solid;
  border-style: outset;
  width: 100%;
  height: 150px;
  margin: auto;
}
p {
  border-style: 100px;
}
table tr td .fullname {
  text-align: center;
  font-size: 50px;
}
h1 .name {
  font-size: 10px;
  text-transform: capitalize;
}
table {
  border-radius: 30px;
}

table tr td img {
  border-radius: 40px;
}
address a {
  float: right;
}
img {
  width: 120px;
  height: 150px;
  float: right;
}
.contact-div {
  background-color: lightgreen;
  display: flex;
  justify-content: space-around;
  margin-left: 2px;
  margin-right: 2px;
}
div img {
  width: 20px;
  height: 20px;
}
div {
  margin-right: 20px;
}
.subheading {
  background-attachment: fixed;
  background-color: lightgrey;
  font-size: 1.5rem;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.content {
  margin-left: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Helvetica, sans-serif;
}
ul li {
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Helvetica, sans-serif;
}
.logo a img {
  margin-right: 100px;
  width: 75px;
  height: 75px;
}
